body {background-color: #E8E4DD}

.navbar-nav .nav-link {
	margin-right: 25px;
	margin-left: 25px;
}


ul.header-images {
  display: flex;
  flex-wrap: wrap;
  padding-left:0px;
}

li.header-img {
  height: 90vh;
  flex-grow: 1;
  list-style-type: none
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.hdr-img-container {
  position: relative;
}

.hdr-img-center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.hdr-img { 
  width: 100%;
  height: auto;
  opacity: 0.3;
}

h1.overlay { color: white; }
h3.overlay { color: white; }
p.overlay { color: white; }

div.theot-body {
  margin-left:30px;
  width: 75%
}

a.decorated {
  text-decoration: none;
  color: rgb(61, 111, 88);
  padding:5px;
}
a.decorated:hover {
  text-decoration: none;
  color: rgb(61, 111, 88);
  background-color: #D4D2CC;
}



a.decorated-header {
  text-decoration: none;
  color: #FFFFFF;
  padding:15px;
}

a.decorated-header:hover {
  text-decoration: none;
  color: #D4D2CC;
  background-color: rgb(61, 111, 88);
}

a.active2 {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #ADA384;
}

nav.masthead {
  background-image: url('img/theot-masthead2.png'); 
  background-repeat: repeat-x;
   max-width: 100%; 
   margin: auto; 
   height:200px;
}
